[submodule "site"]
	path = site
	url = git@github.com:gl00my/metaparser.www.git
	branch = master
[submodule "instead"]
	path = instead
	url = https://github.com/instead-hub/instead.git
	branch = master
[submodule "metaparser"]
	path = metaparser
	url = https://github.com/instead-hub/metaparser.git
	branch = master
