.donate {
	max-width: 33em;
	margin: 0 auto;
}
.dsc {
	white-space: pre-wrap;
}

.container {
	max-width: 64em;
}

.headline {
	display: flex;
	align-items: center;
}

.logo {
	max-width: 128px;
	margin: 2em 1em 1em 1em;
}